.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

@media (min-width: 992px) {
  h1 {
    transform: translate(-100);
  }
}

h1 {
}

h1 {
}

@media (min-width: 768px) {
  h1 {
    /*transform: translate(-230);*/
    /*font-weight: 900;*/
  }
}

h1 {
}

.blog-loop.row {
  display: block;
  /*display: grid;*/
}

@media (min-width: 1200px) {
  div {
  }
}

@media (max-width: 768px) {
  .page-section.grande {
    display: none;
  }
}

body {
}

div {
}

@media (max-width: 576px) {
  .backimage {
    display: none;
  }
}

@media (max-width: 424px) {
  .btn {
    display: none;
  }
}

